// Fonts
$font-family-sans: 'Poppins', sans-serif;

// Original Colors
$color-blue-mascot: #9fd8ff; // Maythematics Blue
$color-red-mascot: #ff988a; // Maythematics Red
$color-yellow-mascot: #ffd97b; // Maythematics Yellow

$color-blue: #85CEFF; // Maythematics Blue
$color-red: #FF8170; // Maythematics Red
$color-yellow: #FFD770; // Maythematics Yellow
$color-green: #70E48F; // Maythematics Green




$color-blue-light: #d4eeff;
$color-red-light: #ffc8c0;
$color-yellow-light: #ffefb8;
$color-text-light: #898989; // Maythematics Text
$color-pink: #f4bba1;

$color-teal: #ABD9D2; // Maythematics Teal
$color-text: #494949; // Maythematics Text


$text-shadow: 1px 1px 0 black,
    2px 2px 0 black,
    3px 3px 0 black;

$text-shadow-2: 1px 1px 0 $color-text,
    2px 2px 0 $color-text,
    3px 3px 0 $color-text;


$text-shadow-white: 3px 3px 0 white,
    3px 3px 0 white,
    3px 3px 0 white,
    3px 3px 0 white;



// Breakpoints
$breakpoint-sm: 768px;
$breakpoint-md: 1024px;
$breakpoint-lg: 1280px;
$breakpoint-xl: 1920px;