@use '../../app/styles/variables' as variables;


.navbar {
  margin: 0 auto;
  display: flex;
  width: 100%;
  position: fixed;
  top: 0;
  z-index: 998;
  background: #fff;
  padding: 0.25rem 0;

}

.scrolled {
  box-shadow: 0 2px 10px rgba(0, 0, 0, 0.08);
}

.navbarContainer {
  margin-left: auto;
  margin-right: auto;
  width: 95%;
  max-width: 1124px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 2rem;
}

.logo {
  img {
    width: 100px;
  }
}



.logoSmall {
  img {}
}

.navbarLogoText {
  font-size: 1.5rem;
  font-weight: 700;
  color: variables.$color-blue;
  text-decoration: none;
}

.navbarNav {
  display: flex;
  align-items: center;
  margin: 0 1.5rem;
  gap: 1 .75rem;
}

.navLink {
  position: relative;
  color: variables.$color-text;
  padding: 0rem 0.5rem;
  font-size: 1rem;
  font-weight: 500;
  text-decoration: none;
  transition: color 0.2s ease-in-out;

}

.dropdown {
  position: relative;
  display: inline-block;

  &:hover .dropdownContent {
    display: block;
  }
}

.dropdownContent {
  display: none;
  position: absolute;
  // background-color: white;
  min-width: 180px;
  box-shadow: 0 2px 8px rgba(0, 0, 0, 0.15);
  z-index: 1;
  border-radius: 0.5rem;
  overflow: hidden;

  a {
    display: block;
    padding: 1.3rem 1rem;
    font-weight: 500;

    text-decoration: none;
    color: variables.$color-text;


    &:hover {
      background-color: #f9f9f9;
    }
  }
}

.dropdownContent {
  background-color: variables.$color-red-light;

  a {

    &:hover {
      background-color: variables.$color-red;
      // color: variables.$color-red;
    }
  }
}

// .dropdownContentBlue {
//   background-color: variables.$color-blue-light;

//   a {

//     &:hover {
//       background-color: variables.$color-blue;
//     }
//   }
// }


.ctaButton {
  background-color: variables.$color-red;
  color: #ffffff;
  padding-left: 1.3rem;
  padding-right: 1.3rem;
  font-size: 1rem;

  &:hover {
    // SCSS Nesting for hover state
    background-color: variables.$color-teal;
  }
}

.navLink {
  &:hover {
    cursor: pointer;
    color: variables.$color-red;
  }
}



.mobileMenuButton {
  display: none;
  padding: 0.5rem;
  border-radius: 0.375rem;
  color: variables.$color-text;
  cursor: pointer;
  background: none;
  border: none;
  outline: none; // For accessibility focus ring

  svg {
    // Nesting for SVG styles
    height: 1.5rem;
    width: 1.5rem;
    stroke: currentColor;
  }
}




// Media Queries for Responsiveness
@media (max-width: 1024px) {

  .navbarContainer {
    width: 95%;
  }

  .logo {
    img {
      width: 50px;
    }
  }





  .navbarNav {
    display: none;
  }

  .ctaButton {
    display: none;
  }

  .mobileMenuButton {
    display: inline-flex;
    align-items: center;
    justify-content: center;
  }
}

@media (min-width: 1280px) {

  .navLink {
    font-size: 1.125rem;
  }

  .ctaButton {
    padding: 0.75rem 2.25rem;
    font-size: 1.125rem;
  }
}

.active {
  font-weight: 700;
  color: variables.$color-red; // or highlight color

}