@use '../../app/\(public\)/styles/variables' as *;
;



.studentReview {
    width: 100%;
    position: relative;
    padding-bottom: 3rem;
}

.branchContainer {
    display: flex;
    // align-items: center;
    justify-content: space-around;
    flex-direction: column;
    margin: 0 auto;
    max-width: 450px;
    width: 95%;
    border-radius: 10px;
    position: relative;
    z-index: 1;
    overflow: hidden; // keeps image inside

    @media (min-width: 768px) {
        flex-direction: row;
        max-width: 1024px;

    }
}

.branchesGrid {
width: 100%;    
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 4rem;

  @media (max-width: 767px) {
    grid-template-columns: 1fr;
  }
}

.branchCard {
  background: #fff;
  border-radius: 14px;
  overflow: hidden;
  display: flex;
  flex-direction: column;

    border-radius: 10px;
    border: 1px solid rgb(238, 238, 238);
}

.mapContainer {
  width: 100%;
  height: 300px;
}

.mapIframe {
  width: 100%;
  height: 100%;
  border: 0;
}

.branchInfo {
  padding: 1.5rem;

  h3 {
    font-size: 1.25rem;
    margin-bottom: 0.75rem;
  }
}

.address {
  margin-bottom: 1rem;
  font-weight: 400;
}

.meta {
  margin-bottom: 1rem;

  a {
    margin-bottom: 0.25rem;
    font-weight: 400;
    text-decoration: none;
    color: $color-text;

  }
}

.hours {
  strong {
    display: block;
    margin-bottom: 0.5rem;
  }

  ul {
    padding-left: 1rem;

    li {
          font-weight: 400;

    }
  }
}

/* Overlay covering bottom half of the video */
.videoOverlay {
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    /* full viewport width */
    height: 35%;
    /* half the height of the video container */
    // background: #fffcf3;
    background-color: #fffcf3;

    /* rounded corners matching video bottom */
    pointer-events: none;
    /* so clicks go through to video if needed */
    z-index: 0;

}
