@use '../../app/styles/variables' as *;


.section {
    padding: 4rem 2rem;
}

.container {
    display: flex;
    align-items: center;
    gap: 2rem;
    width: 95%;
    max-width: 1124px;
    margin: 0 auto;

    @media (max-width: 767px) {
        flex-direction: column;
    }
}

.left {
    flex: 1;
    max-width: 45%;

    @media (max-width: 768px) {
        max-width: 100%;
    }
}

.sectionTitle {
    font-size: 0.9rem;
    font-weight: 300;
    text-transform: uppercase;
    color: #888;
    margin-bottom: 0.5rem;
}

.header {
    // font-size: 2rem;
    // font-weight: 700;
    text-align: left;
    color: $color-red;
    margin-bottom: 1rem;
}

.subheader {
    font-size: 1.1rem;
    color: #555;
    font-weight: 300;

}

.right {
    flex: 1;
    max-width: 55%;

    @media (max-width: 768px) {
        max-width: 100%;
    }
}

.accordion {
    margin-bottom: 1rem;
    border: 1px solid #ddd;
    border-radius: 12px;

}

.accordionButton {
    width: 100%;
    position: relative;
    border-radius: 10px;
    background: none;
    border: none;
    text-align: left;
    padding: 1rem;
    padding-left: 2rem;
    font-size: 1rem;
    font-weight: 600;
    display: flex;
    justify-content: space-between;
    align-items: center;
    cursor: pointer;
    color: $color-text;
    background-color: $color-blue-mascot;
    transition: all 0.25s ease;

    &:hover {
        background-color: $color-teal;

    }
}

.letterContainer {
    position: absolute;
    left: -1.1rem;
    border-radius: 50%;
    width: 2.5rem;
    height: 2.5rem;
    top: 50%;
    background-color: $color-pink;
    transform: translate(0%, -50%);
    display: flex;
    justify-content: center;
    align-items: center;
}

.letter {
    font-weight: 700;
    color: white;
    // margin-right: 0.5rem;
}

.icon {
    font-size: 1.2rem;
}

.accordionContent {
    overflow: hidden;
    transition: max-height 0.3s ease;
    padding: 0 1rem;

    p {
        margin: 1rem 0;
        color: #444;
        font-weight: 300;
    }
}

/* Color sequence */
.color1 {
    background-color: $color-red-mascot; // red
}

.color2 {
    background-color: $color-yellow-mascot; // yellow
}

.color3 {
    background-color: $color-blue-mascot; // blue
}

.active {
    color: #000;
    border-radius: 10px 10px 0 0;

}