@use '../../app/styles/variables' as *;


.lesson {
    margin-top: 3rem;
}

.lessonWrapper {
    margin-top: 3rem;
    position: relative;
}

.elementContainer {
    position: absolute;
    width: 100%;
    height: 100%;
    z-index: 1;

    .element {
        position: absolute;
        z-index: 1;
        // opacity: 0.5;
        width: 100px;


        @media (min-width: 768px) {}


        /* or left top / right top depending on how you want it to pivot */
    }

    .element1 {
        top: 10%;
        left: -50px;
        transform: rotate(20deg);

        @media (min-width: 768px) {
            width: 150px;

        }

    }


    .element2 {
        top: 30%;
        right: -60px;
        transform: rotate(-20deg);
        transform-origin: center;

        @media (min-width: 768px) {
            width: 150px;
            top: 35%;

        }
    }

    .element3 {
        top: 60%;
        left: -40px;
        transform: rotate(-10deg);
        transform-origin: center;

        @media (min-width: 768px) {
            width: 150px;
        }
    }

    .element4 {
        top: 85%;
        right: -60px;
        transform: rotate(-120deg);
        transform-origin: center;

        @media (min-width: 768px) {
            width: 200px;

        }
    }
}


.lessonContainer {
    position: relative;
    z-index: 2;
    display: flex;
    align-items: center;
    justify-content: space-around;
    flex-direction: column;
    text-align: left;
    gap: 1.5rem;
    padding: 0 2rem 6rem 2rem;
    margin: 0 auto;
    max-width: 450px;
    width: 95%;

    @media (min-width: 768px) {
        max-width: 1280px;
        text-align: left;
        flex-direction: row-reverse;

        &:nth-child(even) {
            flex-direction: row;
        }
    }

}

.imageContainer {
    // flex: 1;
    display: flex;
    justify-content: center;
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    width: 100%;
    aspect-ratio: 3/4;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.15);
    border-radius: 10px;
    max-width: 450px;

    @media (min-width: 768px) {
        min-width: 280px;
        max-width: 300px;
    }

}


.textContainer {
    // flex: 1;
    max-width: 500px;


    h2 {
        // margin-bottom: 1rem;
        text-align: left;
        color: $color-red;
        margin-bottom: 1rem;
        white-space: pre-line;
        font-weight: 600;

    }

    .descriptionContainer {
        margin-bottom: 2rem;

        p {
            margin-bottom: 0.5rem;
        }

    }

    .description,
    .classInfo {
        font-size: 1rem;
        line-height: 1.6;
        color: $color-text;
        font-weight: 300;
    }

    .classInfo {
        display: flex;
        align-items: center;
        gap: 6px; // space between icon and text
        margin: 4px 0;

        .icon {
            font-size: 1.2rem;
            color: $color-blue; // use your theme color
        }

        .bold {
            font-weight: 600;
            margin-left: 4px;
        }
    }


    .ctaButton {
        font-size: 1rem;
        text-align: center;
        display: block;

        @media (min-width: 768px) {
            display: initial;
        }

        // float: right;
    }
}