@use '../../app/styles/variables' as *;


.programmesSection {
    margin: 0rem auto;
    padding-left: 1rem;
    padding-right: 1rem;

    // background-color: #fffcf3;

    .heading {
        font-size: 2rem;
        font-weight: 700;
        margin-bottom: 1.5rem;
        text-align: center;
    }

}

.programmesWrapper {
    border-radius: 10px;
    background-color: #F0F2F5;
    // border: 1px solid rgb(224, 224, 226);

    margin: 0 auto;
    width: 95%;
    max-width: 1280px;
    //border: 1px solid rgb(214, 214, 214);

}

.textContainer {
    max-width: 1124px;
    margin-bottom: 3rem;
    padding-left: 1rem;
    // width: 95%;

    @media (min-width: 768px) {
        padding-left: 5rem;

    }
}

.sectionTitle {
    font-size: 0.9rem;
    font-weight: 300;
    text-transform: uppercase;
    color: #888;
    margin-bottom: 0.5rem;
}

.header {
    // font-size: 2rem;
    // font-weight: 700;
    text-align: left;
    color: $color-text;
    color: $color-red;
    margin-bottom: 1rem;
}

.subheader {
    font-size: 1.1rem;
    color: #555;
    font-weight: 300;

}


.scrollWrapper {
    overflow-x: auto;
    scroll-snap-type: x mandatory;
    -webkit-overflow-scrolling: touch;
    padding: 0rem 1rem 0rem 1rem; // <-- added left/right padding
    scroll-padding-left: 1rem; // <-- ensures first snap aligns with padding
    width: auto;

    @media (min-width: 768px) {
        padding: 0rem 5rem 0rem 5rem; // <-- added left/right padding
        scroll-padding-left: 5rem; // <-- ensures first snap aligns with padding

    }

}

.scrollContainer {
    display: flex;
    margin: 0 auto;
    gap: 1.5rem;
    // overflow-x: auto;
    padding-bottom: 2rem;
}

.cardLink {
    flex: 0 0 250px;
    text-decoration: none;
    color: inherit; // so text doesn’t look like a hyperlink
    display: block; // ensures the card occupies full clickable space

    @media (min-width: 768px) {
        flex: 0 0 280px;
    }

    @media (min-width: 1024px) {
        flex: 0 0 300px;

    }
}

.card {
    background-color: #fff;
    border-radius: 10px;
    overflow: hidden;
    scroll-snap-align: start;
    transition: all 0.3s ease;

    &:hover {
        cursor: pointer;

        .image {
            width: 105%;
        }
    }

    .image {
        transition: all 0.3s ease;
        width: 100%;
        height: 150px;
        object-fit: cover;
        object-position: center;
    }

    .content {
        padding: 1rem;

        h3 {
            margin-bottom: 0.5rem;
            font-size: 1.25rem;
            font-weight: 600;
            color: $color-red;
        }

        p {
            font-size: 1rem;
            line-height: 1.4;
            margin-bottom: 0.5rem;
            font-weight: 300;
        }
    }
}