@use '../../app/styles/variables' as *;


.studentReview {
    display: flex;
    align-items: center;
    justify-content: space-around;
    flex-direction: column;
    gap: 1.5rem;
    padding: 6rem 1rem;
    margin: 0 auto;
    max-width: 450px;
    width: 95%;


    @media (min-width: 768px) {
        flex-direction: row-reverse;
        max-width: 1280px;
    }
}

.videoContainer {
    // flex: 1;
    width: 100%;


    @media (min-width: 768px) {
        min-width: 280px;
        max-width: 300px;
    }

}

.video {
    min-width: 280px;
    aspect-ratio: 3/4;
    border-radius: 10px;
    width: 100%;

    /* Narrow width for vertical style */
    /* Taller height for TikTok style */
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.15);

    @media (min-width: 768px) {
        width: auto;
    }
}

.textContainer {
    // flex: 1;
    text-align: left;
    max-width: 500px;

    h2 {
        // font-size: 2rem;
        // margin-bottom: 1rem;
        color: $color-red;
        margin-bottom: 1rem;
        text-align: left;



        @media (min-width: 768px) {
            text-align: left;
        }

    }

    p {
        font-size: 1.1rem;
        line-height: 1.6;
        color: $color-text;
        font-weight: 300;
        margin-bottom: 2rem;

    }

    .button {
        text-align: center;
        display: block;
        font-size: 1rem;

        @media (min-width: 768px) {
            display: initial;
        }

        // float: right;
    }
}