@use '../../app/styles/variables' as *;

.testimonialSection {
    padding: 4rem 1rem;
    //   margin-bottom: 5rem;
    text-align: center;
    position: relative;
}


.cardDesignElement {
    position: absolute;
    left: -50px;
    top: 10%;
    width: 50%;
    z-index: 1;

    // Media Queries for Responsiveness
    @media (min-width: 450px) {
        left: -80px;
        top: 10%;
        width: 250px;
    }


}

.letterRainbow span {
    display: inline-block;

}

/* Themed colors */
.blue {
    color: #9fd8ff;
}

.red {
    color: #ff988a;
}

.yellow {
    color: #ffd97b;
}

.teal {
    color: #99d1c9;
}

.carousel {
    display: flex;
    align-items: center;
    justify-content: center;
    position: relative;
    z-index: 2;
}

.card {
    display: block;
    align-items: center;
    background: $color-yellow-light;
    padding: 1.3rem;
    border-radius: 20px;
    max-width: 1024px;
    width: 95%;
    margin-top: 3rem;
    margin-bottom: 3rem;
}


.image {
    width: 100%;
    object-fit: cover;
    margin-right: 0 auto;
    border-radius: 10px;
}

.textContent {
    text-align: center;
    margin-top: 1.3rem;
    white-space: pre-line;

}

.familyName {
    font-size: 1.3rem;
    font-weight: bold;
    margin-bottom: 0.5rem;
}

.quote {
    font-size: 0.95rem;
    font-weight: 200;
    margin-bottom: 1rem;
    color: #555;
    min-height: 225px;

}

.school {
    font-size: 0.7rem;
    color: #555;
}

.controls {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 1rem;
}

.dots {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 0.5rem;
}

.arrow {
    background: none;
    border: none;
    cursor: pointer;
    color: #333;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 0.5rem;
    transition: color 0.2s ease;

    &:hover {
        color: $color-yellow; // Your theme color
    }

    svg {
        width: 2rem;
        height: 2rem;
    }
}

.dot {
    display: inline-block;
    width: 10px;
    height: 10px;
    background: #ccc;
    border-radius: 50%;
    margin: 0 6px;
    cursor: pointer;
    transition: all 0.3s;

    &.active {
        background: $color-yellow;
    }
}

// Active color sequence classes
.activeBlue {
    background-color: $color-blue;
}

.activeRed {
    background-color: $color-red;
}

.activeYellow {
    background-color: $color-yellow;
}

// Media Queries for Responsiveness
@media (min-width: 450px) {}

// Media Queries for Responsiveness
@media (min-width: 768px) {

    .card {
        display: flex;
    }

    .quote {
        min-height: auto;
    }

    .image {
        width: 40%;
    }

    .textContent {
        padding: 2rem 3rem;
        margin-top: 0;
        display: flex;
        flex-direction: column;
    }

}

// Media Queries for Responsiveness
@media (min-width: 1024px) {


    .familyName {
        font-size: 1.75rem;
    }

    .quote {
        font-size: 1rem;
    }
}

// Media Queries for Responsiveness
@media (min-width: 1280px) {}