@use '../../app/styles/variables' as *;

.accordion {
    margin-bottom: 1rem;
    border-radius: 8px;
    overflow: hidden;
    border: 1px solid #ddd;
    position: relative;
    z-index: 2;
}

.accordionButton {
    width: 100%;
    padding: 1rem 1.25rem;
    text-align: left;
    font-size: 1.1rem;
    font-weight: 600;
    background: #ffffff;
    border: none;
    outline: none;
    display: flex;
    justify-content: space-between;
    align-items: center;
    cursor: pointer;
    transition: background 0.25s ease;

    &:hover {
        background: $color-yellow-light;
    }
}

.accordionButton.active {
    background: $color-yellow-light;
}

.icon {
    font-size: 1.5rem;
}

.accordionContent {
    overflow: hidden;
    transition: max-height 0.5s ease;
    background: #fff;
    padding: 0 1.25rem;

    p {
        padding: 1rem 0;
        margin: 0;
        font-weight: 500;
        line-height: 1.5;
        color: #333;
    }
}