@use '../../app/styles/variables' as *;

.sloganContainer {
    max-width: 60rem;
    width: 95%;
    margin: 0rem auto;
    padding: 3rem 1rem;
    text-align: left;


    p {
        font-size: 1.25rem;
        padding-top: 1rem;
        font-weight: 500;

        @media (min-width: 1024px) {
            font-size: 1.5rem;
        }

        // white-space: pre-line;
    }

    @media (min-width: 768px) {
        text-align: center;

    }

}