@use '../../app/\(public\)/styles/variables' as *;

.sloganContainer {
    max-width: 60rem;
    width: 95%;
    margin: 0rem auto;
    padding: 0rem 1rem;
    text-align: left;

    h3{

        @media (max-width: 767px) {
        text-align: left;
        }
    }


    p {
        font-size: 1.25rem;
        padding-top: 1.5rem;
        font-weight: 400;

        @media (min-width: 1024px) {
            font-size: 1.5rem;
        }

        // white-space: pre-line;
    }

    @media (min-width: 768px) {
        text-align: center;

    }

}