// components/ui/CTAButton.module.scss
@use '../../app/styles/variables' as *;



.red {
    // background-color: $color-red;
    background-color: #fffcf3;
    background-image: url("/images/subpage-bg.png");
    background-position: bottom;
    /* Center the image */
    background-repeat: no-repeat;
    /* Do not repeat the image */
    background-size: cover;
    position: relative;


}

.headerWrapper {
    max-height: 1550px;
    height: 35vh;
    min-height: 200px;
    display: flex;
    align-items: center;
    justify-content: center;
    position: relative;

    // Media Queries for Responsiveness
    @media (min-width: 450px) {}

    // Media Queries for Responsiveness
    @media (min-width: 768px) {
        height: 34vw;
        max-height: 500px;

    }

    // Media Queries for Responsiveness
    @media (min-width: 1280px) {
        height: 60vh;

    }


}

.sectionTitle {
    margin-bottom: 0;
    color: $color-red;
}

.subpageWave {
    position: absolute;
    bottom: 0;
    width: 100%;
}