@use '../../app/\(public\)/styles/variables' as *;


.modalOverlay {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.6);
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 1000;
}

.modalContent.open {
    max-height: 70%;
    opacity: 1;
    min-height: 500px;

    @media (min-width: 768px) {
        max-height: 60vh;
    }

    @media (min-width: 1024px) {
        max-height: 80vh;
    }
}

.modalContent {
    background: white;
    border-radius: 10px;
    max-width: 1024px;
    display: flex;
    flex-direction: column;
    overflow: hidden;
    height: auto; // Adjust as needed
    opacity: 0;
    transition: opacity 0.4s ease, max-height 0.4s ease;




    position: absolute;
    bottom: 0;
    width: 100%;
    max-height: 0%;
    border-radius: 10px 10px 0 0;


    @media (min-width: 768px) {
        border-radius: 10px;
        position: relative;
        width: 90%;
        bottom: auto;
        transition: opacity 0.4s ease;

    }

}

.closeButton {
    position: absolute;
    top: 10px;
    right: 15px;
    color: $color-text;
    background: none;
    border: none;
    font-size: 2rem;
    cursor: pointer;
    z-index: 10;
}

.modalBody {
    display: flex;
    width: 100%;
    height: 100%;
    flex-direction: column;


    @media (min-width: 768px) {
        flex-direction: row;
        height: auto;
    }
}

.imageContainer {
    flex: 1;
    display: none;
    width: 50%;

    //height: 100%;

    img {
        width: 100%;
        height: 100%;
        object-fit: cover;
        object-position: top; // show top part of image
        background-color: #fffcf3;

    }

    @media (min-width: 768px) {
        display: block;
        // height: 250px;
    }
}

.textContainer {
    width: 100%;
    display: flex;
    flex-direction: column;
    gap: 0.2rem;
    padding: 2rem;
    padding-bottom: 9rem;
    margin: 2rem 0;
    height: 550px;
    overflow: scroll;


    @media (min-width: 768px) {
        overflow: auto;
        width: 55%;
        // padding-bottom: auto;

        // padding: 3rem;


    }

    .mainteamInfoWrapper {
        display: flex;
        gap: 1rem;
    }

    .teamImageWrapper {
        width: 40%;
        display: block;

        img {
            object-fit: cover;
            width: 100%;
            background-color: #fffcf3;

        }

        @media (min-width: 768px) {
            display: none;

        }
    }

    .mainInfo {
        width: 60%;

        @media (min-width: 768px) {
            width: 100%;
        }
    }




    .name {
        font-size: 1.75rem;
        font-weight: 700;
        color: $color-red;

        @media (min-width: 768px) {
            font-size: 2.5rem;

        }
    }


    .role,
    .degree,
    .yoe {
        display: flex;
        align-items: flex-start;
        font-size: 0.9rem;
        font-weight: 600;
        margin-top: 0.5rem;
        color: $color-text;

        svg {
            margin-right: 0.5rem;
            width: 1rem;
            font-size: 1rem;
            flex-shrink: 0;

        }


        @media (min-width: 768px) {
            font-size: 1rem;
        }
    }


    .description {
        font-size: 1rem;
        font-weight: 300;
        color: #444;
        margin-top: 2rem;
        margin-bottom: 2rem;
        white-space: pre-line;
    }

    blockquote {
        font-style: italic;
        color: #666;
        border-left: 3px solid #ccc;
        padding-left: 10px;
        margin-bottom: 2rem;

    }
}

.videoWrapper {
    z-index: 11;
    width: 80%;
    max-width: 450px;
    aspect-ratio: 5 / 7;
    margin: 0 auto;
    position: relative;

    @media (min-width: 768px) {
        max-width: 768px;
        aspect-ratio: 9 / 6;

    }

    @media (min-width: 1024px) {
        max-width: 768px;
    }


}


.video {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    border-radius: 12px; // optional: rounded corners
}