@use '../../app/styles/variables' as *;


.teamCard {
    position: relative;
    z-index: 1;
    width: 95%;
    max-width: 450px;
    aspect-ratio: 3 / 4; // Maintains height as 4/3 of the width
    // margin-bottom: 300px;
    border-radius: 10px;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);

    @media (min-width: 768px) {
        width: 300px;
    }

    &:hover {
        .cardDesignElement {
            width: 450px;
        }

        .teamCardWrapper {
            // background-size: 110%;
            cursor: pointer;

        }

        .descriptionContainer {
            box-shadow: 0 8px 20px rgba(0, 0, 0, 0.1);
            background-color: $color-red;
        }

        .cardTitle {
            color: #fff;
        }

        .cardSubTitle {
            color: #fff;
        }

        .cardMascot {
            top: -55px;
            opacity: 1;
        }

    }
}

.cardMascot {
    position: absolute;
    width: 30%;
    top: 0;
    opacity: 0;
    transition: all 0.25s ease-in-out;
    left: 50%;
    transform: translate(-50%, 0%);
    z-index: 2;
}

.cardDesignElement {
    position: absolute;
    width: 100px;
    top: 40%;
    left: 50%;
    transform: translate(-50%, -50%);
    transition: width 0.25s ease-in-out;

    z-index: 1;
}

.teamCardWrapper {
    position: relative;
    z-index: 2;
    width: 100%;
    height: 100%;
    border-radius: 10px;
    background-color: #fffcf3;
    background-position: center;
    /* Center the image */
    background-repeat: no-repeat;
    /* Do not repeat the image */
    background-size: 120%;
    transition: all 0.25s ease-in-out;
    /* Resize the background image to cover the entire container */
    /* The image used */

}


.descriptionContainer {
    position: absolute;
    z-index: 4;
    width: 100%;
    bottom: 0;
    overflow: hidden;
    background-color: #fff;
    transition: all 0.25s ease-in-out;
    /* Smooth transition over 0.5 seconds */
    color: $color-text;
    border-radius: 0 0 10px 10px;
    padding: 0.75rem;
}

.cardTitle {
    font-weight: 600;
    font-size: 1.3rem;
    text-align: center;
    color: $color-text;

}

.cardSubTitle {
    font-weight: 300;
    color: $color-text-light;
}