.whyUs {
  padding: 4rem 0;
  background-color: #fffcf3;
}
.whyUs .grid {
  display: flex;
  gap: 2rem;
  justify-content: center;
  flex-wrap: wrap;
  text-align: center;
}
.whyUs .item {
  border-radius: 2xl;
  padding: 1rem;
  max-width: 400px;
  flex: 1 1 280px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
.whyUs .item h3 {
  margin-top: 1.125rem;
  font-size: 1rem;
  font-weight: bold;
}
.whyUs .item p {
  margin: 1rem 0;
  color: #555;
  font-size: 0.95rem;
  font-weight: 200;
}
.whyUs .item .ctaButton {
  color: #ff988a;
  padding: 0.6rem 1.2rem;
  border-radius: 999px;
  font-weight: 600;
  text-decoration: none;
  transition: color 0.3s;
}
.whyUs .item .ctaButton:hover {
  color: #99d1c9;
}
.whyUs .item .imageWrapper {
  width: 150px;
  height: 150px;
  border-radius: 50%;
  overflow: hidden;
}
.whyUs .item img {
  -o-object-fit: cover;
     object-fit: cover;
  width: 100%;
  height: 100%;
}