@use '../../app/\(public\)/styles/variables' as *;


.section {}


.titleContainer {
    text-align: center;
    margin-bottom: 1.5rem;
    padding: 0 1rem;
    margin-left: auto;
    margin-right: auto;


    @media (min-width: 768px) {
        margin-bottom: 3rem;

    }


    .sectionTitle {
        font-size: 0.9rem;
        font-weight: 300;
        text-transform: uppercase;
        color: #888;
        margin-bottom: 0.5rem;
    }

    .header {
        color: $color-text;
        margin-bottom: 1rem;

    }
}

.container {
    width: 95%;
    max-width: 900px;
    margin: 0 auto;

    @media (max-width: 767px) {
        max-width: 450px;
    }
}




.accordion {
    border-bottom: 1px solid #ddd;

}

.accordionButton {
    width: 100%;
    position: relative;
    background: none;
    border: none;
    text-align: left;
    padding: 1.75rem 1rem 1.75rem 1rem;
    font-size: 1.25rem;
    font-weight: 600;
    display: flex;
    justify-content: space-between;
    align-items: center;
    cursor: pointer;
    color: $color-text;
    transition: all 0.25s ease;


    @media (max-width: 767px) {
        font-size: 1.1rem;
    }


    &:hover {
        background-color: #F0F2F5;

    }
}



.icon {
    font-size: 1.2rem;
}

.accordionContent {
    overflow: hidden;
    transition: max-height 0.4s ease;
    background-color: #f9f9f9;
    padding: 0 1rem;

    p {
        margin: 1rem 0;
        color: #444;
        font-size: 1.25rem;
        font-weight: 300;


        @media (max-width: 767px) {
            font-size: 1.1rem;
        }
    }
}





.active {
    background-color: #F0F2F5;

}


.open {
    transform: rotate(180deg); // flips arrow upwards when open
}