.storyMascot {
    position: absolute;
    z-index: 1;

}


.element4 {
    top: -5px;
    right: 0;
    left: 50%;
    transform: translate(-50%, 0%);
    width: 110px;

    @media (max-width: 1123px) {
        top: -3.5vw;
    }

    @media (max-width: 1023px) {
        top: -75px;
    }

    @media (max-width: 450px) {
        top: -18vw;
    }
}




.element6 {
    top: 20px;
    left: 50%;
    transform: translate(-50%, 0%);
    width: 100px;
    z-index: -1;

    @media (max-width: 1123px) {
        top: 5px;
    }

    @media (max-width: 1023px) {
        top: -80px;
    }


    @media (max-width: 450px) {
        top: -22vw;
    }
}

.element8 {
    top: 73px;
    left: 50%;
    transform: translate(-50%, 0%);
    width: 120px;
    z-index: -1;

    @media (max-width: 1123px) {
        top: 4vw;
    }

    @media (max-width: 1023px) {
        top: -70px;
    }


    @media (max-width: 450px) {
        top: -16vw;
    }
}