@use '../../app/styles/variables' as *;


.story {
    margin: 3rem auto;
    position: relative;
}

.storyContainer {
    position: relative;
}


.content {
    max-width: 1024px;
    width: 95%;
    margin: 3rem auto;
    text-align: center;
}


.historyContainer {

    .innerContainer {
        max-width: 450px;
        width: 95%;
        margin: 3rem auto;
        // display: flex;
        // flex-direction: column;
        // gap: 10rem;
        position: relative;

        @media (min-width: 1024px) {
            max-width: 1124px;
        }
    }


    .timelineWrapper {
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        height: 100%;
        display: flex;
        align-items: center;
    }

    .timelineBg {
        height: 50%;
        width: 0.5rem;
        background-color: $color-text;
        opacity: 0.4;
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
    }

    .timeline {
        height: 90%;
        width: 0.3rem;
        background-color: #b5b5b5;
        border-radius: 5px;
        position: relative;

        // .subTimeline1 {
        //     position: absolute;
        //     height: 50%;
        //     width: 0.5rem;
        //     top: 0;
        // }

        // .subTimeline2 {
        //     position: absolute;
        //     height: 50%;
        //     width: 0.5rem;
        //     bottom: 0;
        // }

        /* important for scaleY animation */


        @media (min-width: 1024px) {
            height: 75%;
        }
    }


    .row {
        position: relative;
        display: flex;
        justify-content: space-between;
        flex-direction: column;
        padding: 3.5rem 0;
        z-index: 2;


        @media (min-width: 1024px) {
            flex-direction: row;
        }

        .textWrapper,
        .imageContainer {
            width: 95%;
            margin: 0 auto;
            position: relative;
            z-index: 2;
            display: flex;
            align-items: center;


            @media (min-width: 1024px) {
                width: 40%;
            }
        }

        .textWrapper {

            .storyMascot {
                position: absolute;
                top: -55px;

                width: 110px;
                z-index: 1;
            }


            .storyMascot.left {
                left: 30px;
            }

            .storyMascot.right {
                right: 30px;
            }

            .yellow {
                background-color: $color-yellow;
            }

            .red {
                background-color: $color-red;
            }

            .blue {
                background-color: $color-blue;
            }
        }

        .textInnerWrapper {
            height: min-content;
            padding: 2rem;
            border-radius: 10px 10px 0 0;
            position: relative;
            z-index: 2;


            h2 {
                margin-bottom: 1rem;
                line-height: 1.9rem;
            }

            p {
                font-weight: 300;
            }

            @media (min-width: 1024px) {
                flex-direction: row-reverse;
                border-radius: 10px;

            }


        }
    }

    .rowOdd {
        flex-direction: column;

        @media (min-width: 1024px) {
            flex-direction: row-reverse;
        }
    }

    .row {
        .numbering {
            position: absolute;
            width: 40px;
            height: 40px;
            background-color: $color-pink;
            color: white;
            z-index: 5;
            font-size: 1.25rem;
            top: -10px;
            border-radius: 50%;
            box-shadow: 0 8px 20px rgba(0, 0, 0, 0.1);

            span {
                position: absolute;
                top: 50%;
                left: 50%;
                transform: translate(-50%, -50%);

            }
        }
    }

    .rowOdd {
        .numbering {
            right: -10px;
        }
    }

    // .rowRed {
    //     .numbering {
    //         border: 5px solid $color-blue;
    //     }
    // }

    // .rowBlue {
    //     .numbering {
    //         border: 5px solid $color-yellow;
    //     }
    // }

    // .rowYellow {
    //     .numbering {
    //         border: 5px solid $color-red;
    //     }
    // }

    .rowEven {
        .numbering {
            left: -10px;
        }
    }


    .imageContainer {
        border-radius: 10px;

        .image {

            width: 100%;
            border-radius: 0 0 10px 10px;

        }
    }
}

.element {
    position: absolute;
    width: 100px;
    z-index: 0;
    opacity: 0.5;

    @media (min-width: 768px) {
        width: 150px;
    }


    /* or left top / right top depending on how you want it to pivot */
}

.element1 {
    top: 10%;
    left: -70px;
    width: 200px;



    @media (min-width: 768px) {
        //left: -20px;
    }

}

.element2 {
    top: 35%;
    right: -50px;
    transform: rotate(20deg);
    transform-origin: center;

    @media (min-width: 768px) {
        // right: 20px;
    }
}

.element3 {
    top: 50%;
    left: -50px;
    transform: rotate(-50deg);
    transform-origin: center;

    @media (min-width: 768px) {
        // left: 20px;
    }
}

.element4 {
    top: 70%;
    right: -60px;
    width: 150px;
    transform: rotate(80deg);
    transform-origin: center;

    @media (min-width: 768px) {
        width: 250px;
    }
}