.storyMascot {
    position: absolute;
    z-index: 1;

}


.element4 {
    top: -70px;
    right: 0;
    left: 50%;
    transform: translate(-50%, 0%);
    width: 110px;


    @media (max-width: 1023px) {
        top: -105px;
    }

    @media (max-width: 450px) {
        top: -18vw;
    }
}




.element6 {
    top: -10px;
    left: 50%;
    transform: translate(-50%, 0%);
    width: 90px;
    z-index: -1;


    @media (max-width: 1123px) {
        top: -2vw;
    }

    @media (max-width: 1023px) {
        top: -75px;
    }


    @media (max-width: 450px) {
        top: -16vw;
    }
}

.element8 {
    top: -45px;
    left: 50%;
    transform: translate(-50%, 0%);
    width: 120px;
    z-index: -1;

    @media (max-width: 1123px) {
        top: -70px;
    }

    @media (max-width: 1023px) {
        top: -70px;
    }


    @media (max-width: 450px) {
        top: -16vw;
    }
}