@use '../../app/styles/variables' as *;


.teamSection {
    margin: 6rem auto;
    position: relative;
}

.teamContainer {
    max-width: 1280px;
    width: 95%;
    margin: 0 auto;
}

.teamCardContainer {
    display: flex;
    gap: 2rem;
    justify-content: center;
    flex-wrap: wrap;
    text-align: center;
    margin: 3rem auto;
}

.element {
    position: absolute;
    width: 100px;
    z-index: 1;
    opacity: 0.5;

    @media (min-width: 768px) {
        width: 150px;
    }


    /* or left top / right top depending on how you want it to pivot */
}

.element1 {
    top: 10%;
    left: -50px;
    transform: rotate(-30deg);
    width: 200px;



    @media (min-width: 768px) {
        //left: -20px;
    }

}


.element2 {
    top: 70%;
    right: -60px;
    width: 150px;
    transform: rotate(80deg);
    transform-origin: center;

    @media (min-width: 768px) {
        width: 250px;
    }
}


.CtaCard {
    width: 95%;
    height: 400px;
    // margin-bottom: 300px;
    border-radius: 10px;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
    // background-color: $color-red;
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-align: left;
    padding: 1rem 1.5rem;
    background-color: #f9fafb;
    overflow: hidden;

    // color: $color-text;
    z-index: 2;
    position: relative;

    .cardMascot {
        position: absolute;
        bottom: 0;
        width: 125px;
        bottom: -15px;
        left: -10px;
        transform: rotate(20deg);
    }

    @media (min-width: 768px) {
        width: 300px;
    }

    .title {
        font-size: 2rem;
        margin-bottom: 1rem;
        line-height: 1.2;
        font-weight: 600;
        color: $color-red;
    }

    .slogan {
        font-weight: 300;
        color: $color-text;

    }
}