@use '../../app/styles/variables' as *;

.visionSection {
    position: relative;
    text-align: center;

    .sectionTitle {
        background-color: $color-blue;

    }


    .visionContainer {
        background-color: $color-blue;
        padding: 3rem 0;
    }

    .visionCard {
        max-width: 1024px;
        width: 95%;
        margin: 3rem auto;
        padding: 2rem 1.25rem;
        background-color: white;
        border-radius: 10px;
        box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
        position: relative;

        p {
            z-index: 2;
            position: relative;
        }

        @media (min-width: 1024px) {
            padding: 3rem;

        }
    }

    .watermark {
        position: absolute;
        width: 70%;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        opacity: 0.2;
        z-index: 1;

    }



    .dividerTop,
    .dividerBottom {
        width: 100%;
        display: block;
        z-index: 2;
        position: relative;
    }

    .dividerTop {
        transform: rotate(180deg);
        margin-top: -1px;
    }
}