@use '../../app/styles/variables' as *;

.visionSection {
    position: relative;
    text-align: center;

    .sectionTitle {
        background-color: $color-blue-mascot;

    }


    .visionContainer {
        background-color: $color-blue-mascot;
    }



    .dividerTop,
    .dividerBottom {
        width: 100%;
        display: block;
        z-index: 2;
        position: relative;
        max-height: 100px;
    }

    .dividerTop {
        transform: rotate(180deg);
        margin-top: -1px;
    }
}