@use '../../app/\(public\)/styles/variables' as *;


.ctaSection {
    background-color: #fffcf3;
    text-align: center;
    padding-bottom: 6rem;
    position: relative;
    margin-bottom: 2rem;



    @media (min-width: 768px) {
        margin-bottom: 5rem;

    }
}

.elementContainer {
    position: absolute;
    width: 100%;
    display: flex;
    justify-content: space-between;
    opacity: 0.2;
    z-index: 10;
    top: 0;

    .elements {
        // position: ;
        width: 50%;
        height: 100%;
        top: 0;

    }

    .elementRight {
        position: absolute;
        width: 150px;
        height: auto;
        right: -80px;

        @media (min-width: 768px) {
            width: 250px;
            right: -140px;
        }

        @media (min-width: 1024px) {
            // width: 0px;
        }

    }

    .elementLeft {
        position: absolute;
        width: 180px;
        height: auto;
        left: -100px;

        @media (min-width: 768px) {
            width: 300px;
            left: -180px;
        }

        @media (min-width: 1024px) {
            // width: 350px;
        }

    }
}



.ctaTextWrapper {
    margin-top: 2rem;
    width: 90%;
    max-width: 768px;
    margin: 0 auto;
    position: relative;
    z-index: 2;


    .ctaParagraph {
        color: $color-text;
        font-weight: 500;
        font-size: 1.25rem;


        @media (min-width: 1024px) {
            font-size: 1.5rem;

        }

    }
}


.ctaSectionButton {
    margin-top: 2rem;
    width: 80%;
    font-size: 1.3rem;
    max-width: 300px;
    position: relative;
    z-index: 2;
}

.sloganTitle {
    text-align: center;
    width: 100%;


    .red {
        color: $color-red;
    }

    .teal {
        color: $color-teal;
    }


    .yellow {
        color: $color-yellow;
    }

    .blue {
        color: $color-blue;
    }
}

.mascotContainer {
    position: absolute;
    bottom: -50px;
    background-color: #fffcf3;
    width: 100%;

    @media (min-width: 768px) {
        bottom: -96px;
    }

    @media (min-width: 1024px) {
        bottom: -113px;
    }

}

.reviewMascot {
    height: 100%;
    height: auto;


}



.yellowMascot {
    width: 92px;
    position: relative;
    right: 34px;
    top: 10px;
    height: auto;

    @media (min-width: 768px) {
        width: 120px;
    }

    @media (min-width: 1024px) {
        width: 145px;
        right: 46px;
    }
}

.redMascot {
    width: 160px;
    position: relative;
    z-index: 2;
    bottom: -30px;

    @media (min-width: 768px) {
        width: 200px;
    }

    @media (min-width: 1024px) {
        width: 234px;

    }


}

.blueMascot {
    width: 107px;
    position: relative;
    top: 6px;
    left: 23px;

    @media (min-width: 768px) {
        width: 140px;
        top: 16px
    }

    @media (min-width: 1024px) {
        width: 165px;
        left: 30px;
    }

}