@use '../../app/styles/variables' as *;


.resultsMasonry {}

.myMasonryGrid {
    display: flex;
    margin: 3rem auto;
    gap: 1rem;
    /* gutter size offset */
    //width: 95%;
    max-width: 1124px;
}

.myMasonryGridColumn {
    /* gutter size */
    background-clip: padding-box;
}

.gridItem {
    margin-bottom: 1rem;
    border-radius: 12px;
    overflow: hidden;
    background: #fff;
    box-shadow: 0 2px 8px rgba(0, 0, 0, 0.1);
    transition: transform 0.3s ease;

    &:hover {
        transform: translateY(-4px);
    }

    img {
        width: 100%;
        height: auto;
        display: block;
    }

    .caption {
        padding: 0.8rem 1rem;
        font-size: 0.9rem;
        color: $color-text;

        .student {
            font-weight: 600;
            font-size: 1rem;
        }

        .school {
            font-size: 0.85rem;
            font-weight: 300;
            margin-bottom: 0.3rem;
        }

        .achievement {
            color: $color-red;
            font-weight: 600;
            font-size: 0.9rem;
        }
    }
}

.seeMoreWrapper {
    text-align: center;
    margin: 1.5rem 0;
}

.seeMoreBtn {
    border: none;
    // background-color: #ff5a5f;
    // color: #fff;
    // padding: 0.75rem 1.5rem;
    // border-radius: 0.5rem;
    // font-weight: bold;
    // border: none;
    // cursor: pointer;
    // transition: background-color 0.3s;
}

// .seeMoreBtn:hover {
//     background-color: #e04e53;
// }