@use '../../app/styles/variables' as *;


.studentReview {

    margin-top: 3rem;
    margin-bottom: 3rem;

}

.reviewItem {
    display: flex;
    align-items: center;
    justify-content: space-around;
    flex-direction: column-reverse;
    text-align: center;
    gap: 1rem;
    padding-bottom: 2rem;
    margin: 0 auto;
    max-width: 1124px;
    width: 95%;
    padding-top: 3rem;



    @media (min-width: 768px) {
        gap: 3rem;
        text-align: left;
        flex-direction: row-reverse;

        &:nth-child(even) {
            flex-direction: row;
        }
    }
}

.videoContainer {
    // flex: 1;
    display: flex;
    justify-content: center;
}

.video {
    aspect-ratio: 9/12;
    border-radius: 10px;
    /* Narrow width for vertical style */
    /* Taller height for TikTok style */
    box-shadow: 0 8px 20px rgba(0, 0, 0, 0.15);

    width: 100%;
    aspect-ratio: 3/4;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.15);
    border-radius: 10px;

    @media (min-width: 768px) {
        width: 300px;

    }
}

.textContainer {
    // flex: 1;
    max-width: 500px;

    h2 {
        // font-size: 2rem;
        margin-bottom: 1rem;
        text-align: center;
        color: $color-red-dark;

        @media (min-width: 768px) {
            text-align: left;

        }

    }

    p {
        font-size: 1.1rem;
        line-height: 1.6;
        color: $color-text;
        font-weight: 300;

        @media (min-width: 768px) {
            margin-bottom: 2rem;

        }

    }

    .button {
        font-size: 1rem;
        // float: right;
    }
}