@use '../../app/\(public\)/styles/variables' as *;
;

.whatsappMasonry {
    position: relative;
    background-color: #fffcf3;

    h2 {
        text-align: center;
        margin-bottom: 2rem;
    }
}

.myMasonryGrid {
    display: flex;
    margin: 0 auto;
    // margin-left: -1rem; // gutter size offset
    width: 95%;
    gap: 1rem;

    width: 95%;
    max-width: 450px;
    padding: 0 1rem;

    @media (min-width: 768px) {
        max-width: 1124px;

    }
}

.myMasonryGridColumn {
    background-clip: padding-box;
}

.gridItem {
    background: #fff;
    border-radius: 12px;
    // padding: 1rem;
    margin-bottom: 1rem;
    transition: transform 0.2s ease, box-shadow 0.2s ease;

    &:hover {
        transform: translateY(-4px);
    }

    img {
        width: 100%;
        border-radius: 10px;
        box-shadow: 0 4px 12px rgba(0, 0, 0, 0.05);

    }

    .caption {
        padding: 0.8rem 1rem;
        font-size: 0.9rem;
        color: $color-text;

        .student {
            font-weight: 600;
            font-size: 1rem;
        }

        .school {
            font-size: 0.85rem;
            font-weight: 300;
            margin-bottom: 0.3rem;
        }

        .achievement {
            color: $color-red;
            font-weight: 600;
            font-size: 0.9rem;
        }
    }
}