@use '../../app/styles/variables' as *;


.workshopSection {
    padding: 6rem 1rem;

    .container {
        display: grid;
        grid-template-columns: 1fr 1.25fr;
        gap: 2rem;
        align-items: center;
        max-width: 1124px;
        margin: 0 auto;
        width: 95%;

        @media (max-width: 1023px) {
            grid-template-columns: 1fr;
            max-width: 650px;
        }

        @media (max-width: 767px) {
            max-width: 450px;
        }
    }

    .poster {
        img {
            width: 100%;
            border-radius: 12px;
            object-fit: cover;
            box-shadow: 0 6px 20px rgba(0, 0, 0, 0.12);
        }
    }

    .info {
        .title {
            text-align: left;
            color: $color-red;
            margin-bottom: 1rem;
        }

        .description {
            font-size: 1rem;
            color: #333;
            margin-bottom: 1.5rem;
            font-weight: 300;
        }

        .details {
            font-weight: 600;
            margin-bottom: 2rem;

            p {
                margin: 0.5rem 0;
                font-size: 1rem;
                color: #555;

                .icon {
                    margin-right: 0.5rem;
                }
            }


            .note {
                font-weight: 800;
                font-size: 1.05rem;
                margin-top: 1rem;
            }
        }
    }

    .ctaLink {
        display: flex;
        justify-content: center;
        text-decoration: none;

        .ctaButton {
            // background: #2c7be5;
            // text-decoration: none;
            // color: #fff;
            // padding: 0.75rem 1.5rem;
            // border: none;
            // border-radius: 8px;
            // font-size: 1rem;
            // font-weight: 600;
            // cursor: pointer;
            // transition: background 0.25s ease;
            border: none;

            &:hover {
                background: $color-teal;
                cursor: pointer;

            }
        }
    }
}

.otherWorkshops {
    max-width: 1124px;
    margin: 2rem auto 0rem auto;
    width: 95%;
    display: grid;
    grid-template-columns: repeat(2, 1fr); // 2 per row
    gap: 1.5rem;

    .card {
        display: flex;
        align-items: center;
        gap: 1.25rem;
        padding: 0.75rem;
        border-radius: 12px;
        box-shadow: 0 4px 12px rgba(0, 0, 0, 0.08);
        background: #fff;


        .cardPoster {
            flex: 0 0 120px;

            img {
                width: 120px;
                height: auto;
                border-radius: 8px;
                object-fit: cover;
            }
        }

        .cardInfo {
            flex: 1;

            h3 {
                font-size: 1.2rem;
                margin-bottom: 0.5rem;
                text-align: center;
            }

            .ctaButton {
                margin-top: 0.5rem;
                font-size: 1rem;
                padding: 0.75rem 1.5rem;
            }
        }
    }

    @media (max-width: 767px) {
        grid-template-columns: repeat(1, 1fr); // 1 per row


        .card {
            width: 100%;

            .cardInfo {

                h3 {
                    font-size: 1rem;
                }

                .ctaButton {
                    font-size: 0.75rem;
                }
            }

            .cardPoster img {
                width: 100%;
            }
        }
    }
}